.details-page {
  h1 {
    margin: 20px 0;
  }
  .img {
    padding: 0 20px 20px 0;
  }
  .starships-loader {
    margin: 10px;
  }
  .starships {
    list-style: none;
    li {
      margin: 10px 0;
      .name {
        font-weight: bold;
        margin: 0 10px;
      }
      .model {
        font-size: 0.7em;
      }
    }
  }
}
