@import "icons";
@import "home";
@import "details";

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
